<template>
  <div id="app">
    <Layout></Layout>
  </div>
</template>
<script setup lang="ts">
import Layout from './layout/index.vue'
import * as echarts from 'echarts'
import { getCurrentInstance, provide } from 'vue'
const instance = getCurrentInstance().appContext.config.globalProperties
provide('echarts', echarts)
provide('this', instance)
</script>
<style lang="less" src="./assets/css/style.less"></style>
