<template>
  <div>login</div>
</template>
<script setup lang="ts">
import { computed, reactive, ref, watchEffect, watch, nextTick, toRefs, onMounted, getCurrentInstance, inject } from 'vue'
import { useRouter, useRoute } from 'vue-router'
const self = inject('this')
const router = useRouter()
const route = useRoute()
const state = reactive({
  aaaa: 9090
})
onMounted(() => {
  console.log(self)
})
</script>
<style lang="less" scoped></style>
