<template>
  <div style="width: 100%; height: 100%" id="mapId"></div>
</template>
<script setup lang="ts">
import mapData from '../../utils/china.json'
import { inject, computed, reactive, onMounted } from 'vue'
import { useStore } from 'vuex'

const store = useStore()
// const pictures: any = computed(() => store.state.sourcestore.pictures)
const echarts: any = inject('echarts')
const state = reactive<any>({
  mapChart: null,
  mapData: mapData,
  //   nolinetipImg: pictures.value.nolinetip,
  //   signImg: pictures.value.circle,
  windowWidthan: window.screen.width / 1920,
  spotData: [
    { name: '西藏', value: [86.657784, 33.434604] },
    { name: '内蒙古', value: [120.232002, 45.524399] },
    { name: '甘肃', value: [96.149971, 40.516681] },
    { name: '四川', value: [103.00544, 30.830036] },
    { name: '宁夏', value: [106.345284, 37.233346] },
    { name: '陕西', value: [108.63044, 33.946504] },
    { name: '山西', value: [111.970284, 37.373169] },
    { name: '重庆', value: [107.817452, 29.805807] },
    { name: '湖北', value: [112.475655, 31.206647] },
    { name: '山东', value: [118.320381, 36.35358] },
    { name: '江苏', value: [119.946358, 32.88277] },
    { name: '浙江', value: [120.122139, 29.021062] },
    { name: '河北', value: [114.551725, 38.034953] },
    { name: '江西', value: [115.782194, 28.81081] }
  ],
  spotChildData: [
    { name: '西藏', value: [87.558662, 30.091387] },
    { name: '西藏', value: [94.721748, 30.3951] },

    { name: '内蒙古', value: [111.596748, 41.856019] },

    { name: '甘肃', value: [95.952217, 38.808424] },
    { name: '甘肃', value: [98.808662, 39.895788] },
    { name: '甘肃', value: [99.028389, 39.456088] },
    { name: '甘肃', value: [99.995186, 38.876879] },
    { name: '甘肃', value: [101.577217, 38.292911] },
    { name: '甘肃', value: [103.027412, 38.671315] },
    { name: '甘肃', value: [102.456123, 38.36186] },
    { name: '甘肃', value: [103.598702, 34.798874] },
    { name: '甘肃', value: [105.048897, 33.452939] },
    { name: '甘肃', value: [107.685616, 35.909919] },

    { name: '四川', value: [100.742256, 30.811166] },

    { name: '宁夏', value: [106.059639, 36.123189] },

    { name: '陕西', value: [109.091866, 37.110788] },
    { name: '陕西', value: [109.663155, 36.158678] },
    { name: '陕西', value: [109.531319, 35.230768] },
    { name: '陕西', value: [109.794991, 34.074002] },

    { name: '山西', value: [112.783272, 35.981073] },

    { name: '重庆', value: [108.520577, 29.213021] },

    { name: '湖北', value: [111.069405, 31.187852] },

    { name: '山东', value: [120.693428, 37.28581] },
    { name: '山东', value: [118.951749, 35.455658] },
    { name: '山东', value: [119.726631, 36.087684] },

    { name: '江苏', value: [119.111397, 33.782298] },
    { name: '浙江', value: [120.561592, 28.055936] },

    { name: '上海', value: [121.28669, 31.417835] },
    { name: '上海', value: [121.303169, 30.867764] },
    { name: '上海', value: [121.764595, 30.971439] },

    { name: '北京', value: [116.661446, 40.729318] },
    { name: '北京', value: [115.584786, 39.967396] },
    { name: '北京', value: [116.353829, 39.566275] },
    { name: '北京', value: [117.243721, 40.227918] },
    { name: '北京', value: [115.957975, 40.517821] },
    { name: '北京', value: [115.845865, 39.643612] },

    { name: '河北', value: [116.089811, 38.311332] },

    { name: '江西', value: [115.430631, 27.53245] }
  ]
})
const emit = defineEmits(['mapClickHandler'])

onMounted(() => {
  initEchartMap()
})
function fontSize(res: number) {
  let clientWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth
  if (!clientWidth) return
  let fontSize = clientWidth / 1920
  return res * fontSize
}
function mapClickHandler(e: any) {
  emit('mapClickHandler', e)
}
function initEchartMap() {
  if (state.mapChart) {
    state.mapChart.clear()
  }
  let el: any = document.getElementById('mapId')
  state.mapChart = echarts.init(el)
  echarts.registerMap('china', state.mapData)
  let optionMap = {
    geo: {
      top: 0,
      bottom: '25%',
      show: false,
      map: 'china',
      roam: false,
      zoom: 1,
      // layoutCenter: ['30%', '30%'],
      layoutSize: 100,
      label: {
        emphasis: {
          show: false
        }
      },
      itemStyle: {
        normal: {
          color: '#005EB5', //地图背景色
          borderColor: '#3BAFDA', //省市边界线00fcff 516a89
          borderWidth: fontSize(1)
        },
        emphasis: {
          areaColor: 'rgba(2,139,255,1)',
          borderWidth: 0
        }
      }
    },
    series: [
      {
        type: 'map',
        top: 0,
        bottom: '25%',
        show: true,
        map: 'china',
        roam: false,
        zoom: 1,
        // layoutCenter: ['30%', '30%'],
        layoutSize: 100,
        label: {
          emphasis: {
            show: false
          }
        },
        markLine: {
          silent: true,
          symbol: 'none',
          lineStyle: {
            color: '#1BD5EF',
            type: 'solid',
            width: fontSize(1)
          },
          data: [
            [{ coord: [116.394463, 40.181769] }, { coord: [117.743253, 42.483764] }],
            [{ coord: [117.743253, 42.483764] }, { coord: [119.434659, 42.483764] }]
          ]
        },
        markPoint: {
          //   symbol: 'image://' + state.nolinetipImg,
          symbolSize: fontSize(20),
          label: {
            formatter: '北京总部',
            color: 'rgba(0, 249, 255, 1)',
            align: 'center',
            fontSize: fontSize(12),
            verticalAlign: 'middle',
            offset: [0, fontSize(1)],
            emphasis: {
              show: true
            }
          },
          data: [
            {
              coord: [122.5, 42.516164]
            }
          ]
        },
        itemStyle: {
          normal: {
            areaColor: '#005EB5',
            borderColor: '#3BAFDA',
            borderWidth: fontSize(1)
          },
          emphasis: {
            areaColor: 'rgba(2,139,255,1)',
            borderWidth: 0
          }
        },
        select: {
          itemStyle: {
            areaColor: '#005EB5'
          },
          label: {
            show: false
          }
        }
      },
      // 北京总部
      {
        type: 'scatter',
        coordinateSystem: 'geo',
        symbolSize: fontSize(8),
        itemStyle: {
          normal: {
            color: '#1EDBED',
            borderColor: '#1EDBED'
          }
        },
        data: [{ name: '北京总部', value: [116.394463, 40.181769] }]
      },
      {
        type: 'scatter',
        coordinateSystem: 'geo',
        // symbol: 'image://' + state.signImg,
        // symbolSize: fontSize(25),
        label: {
          normal: {
            formatter: '{b}',
            position: 'right',
            show: false
          },
          emphasis: {
            show: false
          }
        },
        itemStyle: {
          normal: {
            color: 'rgba(21, 254, 60, 1)'
          }
        },
        data: state.spotData
      },
      {
        type: 'scatter',
        coordinateSystem: 'geo',
        symbolSize: fontSize(5),
        label: {
          normal: {
            formatter: '{b}',
            position: 'right',
            show: false
          },
          emphasis: {
            show: false
          }
        },
        itemStyle: {
          normal: {
            color: 'rgba(21, 254, 60, 1)'
          }
        },
        data: state.spotChildData
      }
    ]
  }
  state.mapChart.setOption(optionMap)
  state.mapChart.on('click', mapClickHandler)
}
</script>
<style lang="less" scoped></style>
